@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-playfair: var(--font-playfair);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #41A0E4;
  --color-primary-focus: #01959F33;
  --color-primary-dark: #006970;
  --color-primary-surface: #F7FEFF;
  --color-neutral-40: #e0e0e0;
  --color-neutral-30: #EDEDED;
  --color-neutral-60: #9E9E9E;
  --color-neutral-70: #757575;
  --color-neutral-80: #616161;
  --color-neutral-90: #404040;
  --color-success-main: #43936C;
  --color-secondary-main: #FBC037;
  --color-danger-main: #E11428;
  --color-grey: #A19B91;
  --text-m: 14px;
  --text-l: 16px;
  --text-s: 12px;
  --text-xl: 18px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SF Pro Display", sans-serif;
}

.slick-dots li {
  width: 10px !important;
  height: 10px !important;
}

.slick-dots li button {
  background: #cccccc !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  margin: 0 2;
  opacity: 0.6 !important;
}

.slick-active button {
  opacity: 1 !important;
}

.slick-dots li button:before {
  content: unset !important;
}

.slick-prev:before,
.slick-next:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: slick;
  font-size: 20px;
  line-height: 1;
}